/* Large desktops and laptops */ /* my desktop */
@media (min-width: 1200px) {
body{background:#DBDBEA;}

}




/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
 body{background:#DFBFFF;}

}




/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
body{background:#008C46;}
}




/* This is for mobile(vertical) display */
@media (min-width: 400px) and (max-width: 767px) {
 body{background:#BFDFFF;} 
  

}




/* This is for mobile(horizontal) display */
@media (max-width: 400px) {
 body{background:#7396FF;}

}









